<app-header></app-header>

<div class="content" role="main">

  <h3 appAppHighlight>Test</h3>
  Welcome to {{title}}! {{parentData}}
  <app-test></app-test>

  <nav>
    <a class="btn btn-primary" routerLink="/departments" routerLinkActive="active">Departments</a>
    <a class="btn btn-primary" routerLink="/employees" routerLinkActive="active">Employees</a>
    <a class="btn btn-primary" routerLink="/templateform" routerLinkActive="active">Template</a>
    <a class="btn btn-primary" routerLink="/reactiveform" routerLinkActive="active">Reative</a>
  </nav>

 
  <h3 *ngIf="isShow">Show me</h3>
  <button class="btn btn-primary" (click)="switchDirective()">Switch the show</button>


  <div>
    Parent: {{ myCount }}
    <app-counter
      [count]="myCount"
      (change)="countChange($event)">
    </app-counter>
  </div>

</div>
<hr>
<router-outlet></router-outlet>

<app-footer [data]='parentData'></app-footer>