<h2>Angular Firebase Storage!</h2>

<p>
  put(data: Blob, metadata?: storage.UploadMetadata): AngularFireUploadTask
</p>
<input type="file" (change)="filePut($event)">

<p>
  putString(data: string, format?: StringFormat, metadata?: UploadMetadata): AngularFireUploadTask
</p>

<input type="file" (change)="filePutString($event)">

<p>
  upload(path: string, data: StringFormat, metadata?: UploadMetadata): AngularFireUploadTask
</p>
<input type="file" (change)="fileUpload($event)">
<div>
  {{uploadPercent | async}}
</div>
<a [href]="downloadURL | async">{{ downloadURL | async }}</a>

<p>dev.to/favouremma18/uploading-an-image-to-firebase-cloud-storage-with-angular-2aeh</p>
<input type="file" (change)="devFileSelected($event)">

<h3>File Upload</h3>
<p>
  https://medium.com/@chinthakajayatilake98/upload-and-view-files-in-firebase-storage-using-angular-firebase-realtime-database-b7da8bdfb20a
</p>
<input type="text" placeholder="Save with Key" [(ngModel)]="id">
<input type="file" (change)="mediumShow($event)">
<button (click)="mediumUpload()">Save</button>

<p>File View</p>
<input type="text" [(ngModel)]="file" placeholder="Enter Unique Search Key">
<button (click)="mediumView">View</button>