[DEFAULT]
user=ocid1.user.oc1..aaaaaaaazzh65jih2j7vuxiog6rbuyaavuo6bkk6h2fwbo2y6pl53q4cr3hq
fingerprint=7d:d8:f7:c1:ea:25:e8:8a:05:19:9f:6b:93:f4:87:5d
tenancy=ocid1.tenancy.oc1..aaaaaaaabhctnegbqluweovhdumglftbxjyuhio5vzbscpusoospzhbzipoq
region=ap-melbourne-1
key_file=<path to your private keyfile> # TODO